<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bought Item</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="body page-item" style="background-image: url('/images/explosion-img.jpg')">
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div>
    <div class="mb-4 text-center">
    </div>
    <div class="text-center">
      <h1 class="text-warning">YOU SUCCESSFULLY BOUGHT A WEAPON!</h1>
      <p class="text-white">We highly recommend you to be very careful!</p>
      <a href="/">
        <button class="btn btn-primary">Back Home</button>
      </a>
    </div>
  </div>
</div>
</body>

</html>