<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
.text {
font-size: 20px;
padding-left: 20px;
}
<head>
  <meta charset="UTF-8">
  <title>Armory</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="body page-item" style="background-image: url('/images/firearms-details-image.jpg')">
<div class="navbar" th:replace="~{fragments/navbar}">Navbar</div>
<main>
  <div class="container" th:object="${firearm}">
   <div class="card">
     <div class="row">
       <div class="col-md-4">
         <img class="img-fluid rounded-start" th:src="${firearm.imageUrl}">
       </div>
       <div class="col-md-8">
         <div class="card-body">
            <h4 th:text="${firearm.name}">Firearm name</h4>
            <p th:text="|Country of origin: ${firearm.getCountryOfOrigin()}|"></p>
            <p th:text="|Entered service: ${firearm.getEnteredService()} year|"></p>
            <p th:text="|Caliber: ${firearm.getCaliber()} mm.|"></p>
            <p th:text="|Weight: ${firearm.getWeight()} kg.|"></p>
            <p th:text="|Length: ${firearm.getLength()} sm.|"></p>
            <p th:text="|Barrel length: ${firearm.getBarrelLength()} sm.|"></p>
            <p th:text="|Muzzle velocity: ${firearm.getMuzzleVelocity()} m/s|"></p>
            <p th:text="|Cyclic rate of fire: ${firearm.getCyclicRateOfFire()} rpm|"></p>
            <p th:text="|Practical rate of fire: ${firearm.getPracticalRateOfFire()} rpm|"></p>
            <p th:text="|Magazine capacity: ${firearm.getMagazineCapacity()} rounds|"></p>
            <p th:text="|Sighting range: ${firearm.getSightingRange()} m.|"></p>
            <p th:text="|Effective fire: ${firearm.getEffectiveFire()} m.|"></p>
            <p th:text="|Description: ${firearm.getDescription()}|"></p>
            <p>
              <button class="btn btn-warning" th:text="|Buy for ${firearm.getPrice()} ${'&#36;'+'&nbsp;'}|"></button>
            </p>
         </div>
       </div>
     </div>
   </div>
<!--    <div class="img-thumbnail">-->
<!--      <img th:src="${firearm.imageUrl}" width="300px" height="300px">-->
<!--      <div class="text align-content-xl-end">-->
<!--        <h4 th:text="${firearm.name}"></h4>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="text">-->
<!--      <h4 th:text="${firearm.name}"></h4>-->
<!--    </div>-->
  </div>
</main>
</body>
</html>