<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Armory</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="homepage" style="background-image: url('/images/giphy1.gif')">
    <div th:include="~{fragments/navbar}"></div>
    <div class="background-class"></div>
    <div>
    <h1>Welcome to the Armory!</h1>
    </div>
    <div class="container-fluid">
        <img src="/images/armory_ili2.png" width="150px" height="50px" class="armory-logo">
    </div>
<div class="text-center">
    <h4><strong>"Winners never talk about glorious victories. That's because they're the ones who see what the battlefield looks like afterwards."</strong></h4>
    <h4><strong>T. Pratchet</strong></h4>
</div>
</body>
<div class="blockquote-footer" th:replace="~{fragments/footer}"></div>
</html>