<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
.text {
font-size: 20px;
padding-left: 20px;
}
<head>
  <meta charset="UTF-8">
  <title>Armory</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="body page-item" style="background-image: url('/images/firearms-details-image.jpg')">
<div class="navbar" th:replace="~{fragments/navbar}">Navbar</div>
<main>
  <div class="container" th:object="${ifv}">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-start" th:src="${ifv.getImageURL()}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 th:text="${ifv.getName()}">Infantry Fighting Vehicle name</h4>
            <p th:text="|Country of origin: ${ifv.getCountryOfOrigin()}|"></p>
            <p th:text="|Entered service: ${ifv.getEnteredService()} year|"></p>
            <p th:text="|Crew: ${ifv.getCrew() ?: 'UNKNOWN'} people|"></p>
            <p th:text="|Personel: ${ifv.getPersonnel() ?: 'UNKNOWN'} people|"></p>
            <p th:text="|Main Gun: ${ifv.getMainGun() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Main Gun Caliber: ${ifv.getMainGunCaliber() ?: 'UNKNOWN'} mm.|"></p>
            <p th:text="|Weight: ${ifv.getWeight() ?: 'UNKNOWN'} t.|"></p>
            <p th:text="|Length: ${ifv.getLength() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Width: ${ifv.getWidth() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Height: ${ifv.getHeight() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Anti-Tank Guided Weapon: ${ifv.getATGW() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Anti-Tank Guided Weapon Ammo Load: ${ifv.getAtgwAmmoLoad() ?: 'UNKNOWN'} rounds|"></p>
            <p th:text="|Machine Gun: ${ifv.getMachineGun() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Machine Gun Ammo Load: ${ifv.getMachineGunAmmoLoad() ?: 'UNKNOWN'} rounds|"></p>
            <p th:text="|Engine: ${ifv.getEngine() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Max Speed: ${ifv.getMaxSpeed() ?: 'UNKNOWN'} kmph|"></p>
            <p th:text="|Max Range: ${ifv.getMaxRange() ?: 'UNKNOWN'} km.|"></p>
            <p th:text="|Description: ${ifv.getDescription() ?: 'N/A'}|"></p>
            <form class="card-body" th:action="@{/weapons/ifv/buy/{id} (id=${ifv.getId()})}">
              <button class="btn btn-warning" th:text="|Buy for ${ifv.getPrice()} ${'&#36;'+'&nbsp;'}|"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>