<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
.text {
font-size: 20px;
padding-left: 20px;
}
<head>
  <meta charset="UTF-8">
  <title>Armory</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="body page-item" style="background-image: url('/images/firearms-details-image.jpg')">
<div class="navbar" th:replace="~{fragments/navbar}">Navbar</div>
<main>
  <div class="container" th:object="${tank}">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-start" th:src="${tank.getImageUrl()}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 th:text="${tank.getName()}">Tank name</h4>
            <p th:text="|Country of origin: ${tank.getCountryOfOrigin()}|"></p>
            <p th:text="|Entered service: ${tank.getEnteredService()} year|"></p>
            <p th:text="|Crew: ${tank.getCrew() ?: 'UNKNOWN'} people|"></p>
            <p th:text="|Main Gun: ${tank.getMainGun() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Main Gun Caliber: ${tank.getMainGunCaliber() ?: 'UNKNOWN'} mm.|"></p>
            <p th:text="|Main Gun Ammo Load: ${tank.getMachineGunAmmoLoad() ?: 'UNKNOWN'} rounds|"></p>
            <p th:text="|Weight: ${tank.getWeight() ?: 'UNKNOWN'} t.|"></p>
            <p th:text="|Full Length: ${tank.getFullLength() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Hull Length: ${tank.getHullLength() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Width: ${tank.getWidth() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Height: ${tank.getHeight() ?: 'UNKNOWN'} m.|"></p>
            <p th:text="|Secondary Armament: ${tank.getSecondaryArmament() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Machine Gun: ${tank.getMachineGun() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Machine Gun Ammo Load: ${tank.getMachineGunAmmoLoad() ?: 'UNKNOWN'} rounds|"></p>
            <p th:text="|Engine: ${tank.getEngine() ?: 'UNKNOWN'}|"></p>
            <p th:text="|Max Road Speed: ${tank.getMaxRoadSpeed() ?: 'UNKNOWN'} kmph|"></p>
            <p th:text="|Max Range: ${tank.getMaxRange() ?: 'UNKNOWN'} km.|"></p>
            <p th:text="|Description: ${tank.getDescription() ?: 'UNKNOWN'}|"></p>
            <form class="card-body" th:action="@{/weapons/tanks/buy/{id} (id=${tank.getId()})}">
              <button class="btn btn-warning" th:text="|Buy for ${tank.getPrice()} ${'&#36;'+'&nbsp;'}|"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="img-thumbnail">-->
    <!--      <img th:src="${firearm.imageUrl}" width="300px" height="300px">-->
    <!--      <div class="text align-content-xl-end">-->
    <!--        <h4 th:text="${firearm.name}"></h4>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="text">-->
    <!--      <h4 th:text="${firearm.name}"></h4>-->
    <!--    </div>-->
  </div>
</main>
</body>
</html>