<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
.text {
font-size: 20px;
padding-left: 20px;
}
<head>
  <meta charset="UTF-8">
  <title>Armory</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="body page-item" style="background-image: url('/images/firearms-details-image.jpg')">
<div class="navbar" th:replace="~{fragments/navbar}">Navbar</div>
<main>
  <div class="container" th:object="${trunkArtillery}">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-start" th:src="${trunkArtillery.getImageUrl()}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 th:text="${trunkArtillery.getName()}">Infantry Fighting Vehicle name</h4>
            <p th:text="|Country of origin: ${trunkArtillery.getCountryOfOrigin()}|"></p>
            <p th:text="|Type: ${trunkArtillery.getType()}|"></p>
            <p th:text="|Entered service: ${trunkArtillery.getEnteredService()} year|"></p>
            <p th:text="|Crew: ${trunkArtillery.getCrew()} people|"></p>
            <p th:text="|Main Gun Caliber: ${trunkArtillery.getMainGunCaliber()} mm.|"></p>
            <p th:text="|Max Firing Range: ${trunkArtillery.getMaxFiringRange()} km.|"></p>
            <p th:text="|Max Rate of Fire: ${trunkArtillery.getMaxRateOfFire()} rpm|"></p>
            <p th:text="|Has Machine Gun: ${trunkArtillery.hasMachineGun == true ? 'YES' : 'NO'}|"></p>
            <p th:text="|Machine Gun Caliber: ${trunkArtillery.getMachineGunCaliber() == null ? 'N/A' : trunkArtillery.getMachineGunCaliber() + ' mm.'}|"></p>
            <p th:text="|Weight: ${trunkArtillery.getWeight()} t.|"></p>
            <p th:text="|Full Length: ${trunkArtillery.getFullLength()} m.|"></p>
            <p th:text="|Hull Length: ${trunkArtillery.getHullLength()} m.|"></p>
            <p th:text="|Description: ${trunkArtillery.getDescription()}|"></p>
            <p>
              <button class="btn btn-warning" th:text="|Buy for ${trunkArtillery.getPrice()} ${'&#36;'+'&nbsp;'}|"></button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>