<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Armory</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="body page-item" style="background-image: url('/images/nuke.jpg')">
<div class="navbar" th:replace="~{fragments/navbar}">Navbar</div>
<div class="body-div container d-flex justify-content-around">
  <h1>WEAPONS FOR MASS DESTRUCTION</h1>
  <a th:href="@{/weapons/wmd/bombs}">
    <button type="button" class="btn btn-primary btn-lg">Nuclear Bombs</button>
  </a>
  <a th:href="@{/weapons/wmd/rockets}">
    <button type="button" class="btn btn-primary btn-lg">Nuclear Rockets</button>
  </a>
</div>
</body>
<div class="blockquote-footer" th:replace="~{fragments/footer}"></div>
</html>